<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="color: red">请选择您系统的教程</h1>

    <div style="margin-top: 10px">
        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/win.html'" >windows系统</button>
    </div>
    <div style="margin-top: 10px">

        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/android.html'">安卓手机系统</button>

    </div>
    <div style="margin-top: 10px">

        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/mac.html'">苹果mac系统</button>

    </div>
    <div style="margin-top: 10px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/ios.html'">苹果手机ios系统</button>
    </div>
    <br/>
    <h2 class="h5 mb-3 font-weight-normal">续费和售后远程联系方式</h2>
    <h2 class="h5 mb-3 font-weight-normal">QQ号：1191602449</h2>
    <h2 class="h5 mb-3 font-weight-normal">微信：j18230116146</h2>
</div>

</body>
</html>