<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<div class="form-signin">
    <br/>
    <h1 class="h3 mb-6 font-weight-normal" style="color: red">购买后请加微信联系，拼多多不回复你懂得</h1>
    <h1 class="h3 mb-6 font-weight-normal" style="color: red">购买后请加微信联系，拼多多不回复你懂得</h1>
    <h1 class="h3 mb-6 font-weight-normal" style="color: red">购买后请加微信联系，拼多多不回复你懂得</h1>
    <h2 class="h5 mb-3 font-weight-normal">微信：lj458615780</h2>
    <div>
        <img style="width: 50%;" src="asserts/img/juan.jpg" />
    </div>
    <br/>
    <h1 class="h3 mb-3 font-weight-normal" style="color: red">请点击您系统的教程</h1>

    <div style="margin-top: 10px">
        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/juanwin.html'" >windows系统</button>
    </div>
    <div style="margin-top: 10px">

        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/juanandroid.html'">安卓手机/平板</button>

    </div>
    <div style="margin-top: 10px">

        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/juanmac.html'">苹果mac系统</button>

    </div>
    <div style="margin-top: 10px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='http://47.92.160.45/juanios.html'">苹果手机/平板ios系统</button>
    </div>
</div>

</body>
</html>